.dashboardContainer {
  display: grid;
  width: 100%;
  margin: 0 auto;
  //gap: 1.8rem;
  grid-template-columns: 20rem auto;
}

.aside {
  height: 100%;
}

.twoCol {
  display: flex;
  flex-wrap: wrap;
}
